{%  liquid 
  assign customClass = 'd-block'
  assign imageRatio = 50
  if section.settings.image_position == 'left' 
    assign customClass = 'd-flex'
    assign imageRatio = 85
  elsif section.settings.image_position == 'right'
    assign customClass = 'd-flex'
    assign imageRatio = 85
  endif
%}
<newsletter-popup
  class="{{ customClass }} newsletter-popup--content image-position-{{ section.settings.image_position }} text-{{ section.settings.alignment }}"
  id="newsletterPopup"
  data-drawer="newsletter-popup"
  data-section-id="{{ section.id }}"
>
  <input type="hidden" name="newsletterCookieValue" value="{% if section.settings.show_once_to_visitors %}30{% else %}{{ section.settings.newsletter_popup_cookie }}{% endif %}">
    {%  capture imageHtml %} 
      {% if section.settings.image != blank %}
        <div class="mewsletter-popup--image media-wrapper media-overlay">
          <div class="media" style="--image_ratio:{{ imageRatio }}%">
            {% comment %} {%- render 'lazy-image', image: section.settings.image -%} {% endcomment %}            
            {% liquid
              assign height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio | round
              assign sizes = '100vw'
              assign widths = '180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2160, 2376, 2592, 2808, 3024'
              echo section.settings.image | image_url: width: 3840 | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: 'high'				
            %}
          </div>
        </div>
      {%-  endif -%}
    {% endcapture %}
    {% if section.settings.image_position == 'left' or section.settings.image_position == 'top' %}
      {{ imageHtml }}
    {%-  endif -%}
    <div class="newsletter-popup--text">
      {% if section.settings.heading != blank %}
        <variety-heading class="newsletter-popup--heading-box">
            {%- if section.settings.heading != blank -%}
            {%- capture markersPrefix -%}
              <span class="markers-text {{ section.settings.markers_font }} {{ section.settings.markers_text }}">
            {%- endcapture -%}
            {%- capture markersSuffix -%}
              </span>
            {%- endcapture -%}
            <h5 class="newsletter-popup--heading heading-font h5">
              {{ section.settings.heading | replace: "[", markersPrefix | replace: "]", markersSuffix }}
            </h5>
            {%- endif -%}
        </variety-heading>
      {% endif %}
      {% if section.settings.description != blank %}
        <p class="newsletter-popup--desc">
          {{ section.settings.description | newline_to_br }}
        </p>
      {% endif %}
      {%- form 'customer', class: 'newsletter-form pos-relative' -%}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="newsletter--form">
          {% if form.posted_successfully? %}
          <script>
            localStorage.setItem('theme:popup-filled', 'true');
          </script>
        {% endif %}
          <div class="form-group">
            <input
              id="Email-{{ section.id }}"
              type="email"
              name="contact[email]"
              class="form-control input-sm"
              value="{{ form.email }}"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
                autofocus
                aria-invalid="true"
                aria-describedby="Newsletter-error-{{ section.id }}"
              {% elsif form.posted_successfully? %}
                aria-describedby="Newsletter-success-{{ section.id }}"
              {% endif %}
              placeholder="{% if section.settings.placeholder != blank %}{{ section.settings.placeholder }}{% else %}{{ 'newsletter.label' | t }}{% endif %}"
              pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)*[a-zA-Z]{2,}))$"
              required
            >
          </div>
          <button
            type="submit"
            name="commit"
            id="Subscribe-{{ section.id }}"
            class="button button-block"
            aria-label="Newsletter"
          >
            <span>
             {{section.settings.button_text | default: 'Subscribe'}}
            </span>
          </button>
        </div>
        {%- if form.errors -%}
          <div
            class="form--message error"
            id="Newsletter-error-{{ section.id }}"
            tabindex="-1"
          >
            {{- 'newsletter.error' | t -}}
          </div>
        {%- endif -%}
  
        {%- if form.posted_successfully? -%}
          <p
            class="form--message success"
            id="Newsletter-success-{{ section.id }}"
            tabindex="-1"
          >
            {{- 'newsletter.success' | t -}}
          </p>
        {%- endif -%}
      {% endform %}
    </div>
    {% if section.settings.image_position == 'right' %}
      {{ imageHtml }}
    {%-  endif -%}
</newsletter-popup>
