{{ 'header.css' | asset_url | preload_tag: as: 'style' }}
{{ 'header.css' | asset_url | stylesheet_tag }}
{% liquid
  assign isHeaderTransparentHomepage = false
  assign isHeaderTransparentOtherPage = false
  assign isHeaderTransparent = ''
  assign isTransparentBlur = false

  assign otherTemplates = section.settings.transparent_other_page | split: ','
 
  if template == 'index' and section.settings.transparent_home_page
    assign isHeaderTransparentHomepage = true
  endif

  if section.settings.transparent_other_page contains request.page_type  
    assign isHeaderTransparentOtherPage = true
  endif

  if isHeaderTransparentOtherPage or isHeaderTransparentHomepage
    assign isTransparentBlur = true
    assign isHeaderTransparent = section.settings.transparent_header
    if isHeaderTransparent == 'both-transparent' 
      assign isHeaderTransparent = 'desktop-transparent mobile-transparent'
    endif
  endif
  

%}

{% capture menusListBox %} 
  <div class="header--navigation-main" data-menus-container>
    {% liquid
      if section.settings.menu != blank
        render 'header-navigation', section: section
      endif
    %}
  </div>
  {% capture noJsLinks %}
      {% for link in section.settings.menu.links %}
        <li class="">
          <a class="header--menu-link" href="{{ link.url }}">{{ link.title }}</a>
        </li>
        
        {% if link.links != blank %}
          {% for childlink in link.links %}
            <li class="child-link">
              <a class="header--menu-link" href="{{ childlink.url }}">{{ childlink.title }}</a>
            </li>
    
            {% if childlink.links != blank %}
              {% for grandchildlink in childlink.links %}
                <li class="grandchild-link">
                  <a class="header--menu-link" href="{{ grandchildlink.url }}">{{ grandchildlink.title }}</a>
                </li>
              {% endfor %}
            {% endif %}
            
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endcapture %}
    
    <div class="no-js-menu">
      <nav>
        <ul class="">
          {{ noJsLinks }}
        </ul>
      </nav>
    </div> 
{% endcapture %}
<{% if section.settings.sticky_header_type == 'sticky-scroll-up' %}sticky-on-scroll{% elsif section.settings.sticky_header_type == 'sticky-always' %}sticky-always{% else %}div{% endif %}
      class="header style-{{ section.settings.header_style }} header-height-{{ section.settings.header_height }} {{ section.settings.sticky_header_type }}{% unless section.settings.header_style == 'half-width-menu' %} border-{{ section.settings.seaperate_line }}{% endunless %}{% if section.settings.header_style != 'half-width-menu' %} shadow-{{ section.settings.header_shadow }}{% endif %}{% if isHeaderTransparent != blank %} {{ isHeaderTransparent }}{% endif %}{% if isTransparentBlur and section.settings.is_transparent_blur %} has-transparent-blur{% endif %}"
      id="{{ section.id }}"
      data-logo={{ section.settings.hide_logo }}
      data-header-view="{{ section.settings.header_style }}"
      data-header-sticky-type="{{ section.settings.sticky_header_type }}"
      data-header-section
      
  >
  <div class="container-fullwidth"> 
    <div
      class="header--wrapper {{ section.settings.header_style }}"
      data-header-navigation
      {% unless section.settings.header_style == 'half-width-menu' %}
      data-header-wrapper{% endunless %}>
      {% if section.settings.menu != blank and section.settings.header_style contains 'hamburger-menu' %}
        <button
          class="hamburger--toggler hamburger-icon"
          aria-label="Toggle hamburger menu"
          data-hamburger-toggler>
          <div class="hamburger--toggler-icon">
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
          </div>
        </button>
      {% endif %}
      {% if section.settings.menu != blank %}
        <button
          class="mobile-toggler hamburger--toggler"
          aria-label="Toggle mobile menu"
          data-mobile-toggler>
          <div class="hamburger--toggler-icon">
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
          </div>
        </button>
      {% endif %}
      <a
        class="header--logo"
        href="{{ routes.root_url }}"
        aria-label="{{ shop.name }}">
        {%- if section.settings.logo != blank -%}
          {%- assign image_2x_size = section.settings.desktop_logo_width | times: 2 | at_most: 2560 -%}
          <img
            class="header--logo-img"
            srcset="{{ section.settings.logo | image_url: width: section.settings.desktop_logo_width }} 1x, {{ section.settings.logo | image_url: width: image_2x_size }} 2x"
            src="{{ section.settings.logo | image_url: width: section.settings.desktop_logo_width }}"
            width="{{ section.settings.desktop_logo_width }}"
            height="{{ section.settings.desktop_logo_width | divided_by : section.settings.logo.aspect_ratio | round }}"
            alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
          {% if section.settings.transparent_header %}
            {% liquid
              if section.settings.alternate_logo != blank
                assign transparent_image = section.settings.alternate_logo
              else
                assign transparent_image = section.settings.logo
              endif
            %}
            {%- assign image_2x_size = section.settings.desktop_logo_width | times: 2 | at_most: 2560 -%}
            {% comment %} <img
              class="header--logo-img transparent-logo-img"
              srcset="{{ transparent_image | image_url: width: section.settings.desktop_logo_width }} 1x, {{ transparent_image | image_url: width: image_2x_size }} 2x"
              src="{{ transparent_image | image_url: width: section.settings.desktop_logo_width }}"
              width="{{ section.settings.desktop_logo_width }}"
              height="{{ section.settings.desktop_logo_width | divided_by : transparent_image.aspect_ratio | round }}"
              alt="{{ transparent_image.alt | default: shop.name | escape }}"> {% endcomment %}
              <link rel="preload" as="image" href="{{ transparent_image | image_url: width: section.settings.desktop_logo_width }}" />
            <img
              class="header--logo-img transparent-logo-img"
              srcset="{{ transparent_image | image_url: width: section.settings.desktop_logo_width }} 1x, {{ transparent_image | image_url: width: image_2x_size }} 2x"
              src="{{ transparent_image | image_url: width: section.settings.desktop_logo_width }}"
              width="{{ section.settings.desktop_logo_width }}"
              height="{{ section.settings.desktop_logo_width | divided_by : transparent_image.aspect_ratio | round }}"
              alt="{{ transparent_image.alt | default: shop.name | escape }}"
              loading="eager"
            >

          {% endif %}

        {% else %}
          <span class="header--logo-text text-medium">{{ shop.name }}</span>
        {% endif %}
      </a>
      {% unless section.settings.header_style == 'half-width-menu' or section.settings.header_style contains 'hamburger-menu' %}
        {{ menusListBox }}
      {% endunless %}
      <div class="header--right" data-header-right>
        {% if section.settings.header_style == 'half-width-menu' %}
          {{ menusListBox }}
        {% endif %}
        {% render 'header-icons'
          , section: section %}
        {% liquid
 

          assign isAccountDrawer = true

          if request.page_type contains 'customers'
            assign isAccountDrawer = false
          endif

          if customer and settings.account_behaviour == 'drawer'
            assign isAccountDrawer = false
          endif


          if section.settings.header_style == 'half-width-menu'
            if request.page_type != 'cart' and settings.cart_behaviour == 'drawer'
              render 'cart-drawer'
            endif
            render 'search-drawer'
          endif
          if isAccountDrawer
            render 'account-drawer'
          endif
        %}
      </div>
    </div>

    {% liquid
      if section.settings.header_style contains 'hamburger-menu'
        render 'header-hamburger-menu' section: section
      endif
    %}
  </div>
</{% if section.settings.sticky_header_type == 'sticky-scroll-up' %}sticky-on-scroll{% elsif section.settings.sticky_header_type == 'sticky-always' %}sticky-always{% else %}div{% endif %}>

{% liquid
  unless section.settings.header_style == 'half-width-menu'
    if request.page_type != 'cart' and settings.cart_behaviour == 'drawer'
      render 'cart-drawer'
    endif
    render 'search-drawer'
  endunless

  if section.settings.is_quick_menu and section.settings.quick_menu != blank and section.settings.sticky_header_type == 'sticky-none'
    assign showStatus = false
    if request.page_type == 'index' and section.settings.quick_menu_home_page
      assign showStatus = true
    endif
    if section.settings.quick_menu_other_page != blank and section.settings.quick_menu_other_page contains request.page_type
      assign showStatus = true
    endif
    if showStatus
      render 'short-menu', section: section
    endif
  endif
  render 'mobile-menu-drawer', section: section
%}

<style>
  .short-menu {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }

  .short-menu.fade-out {
    opacity: 0;
  }

  .short-menu.fade-in {
    opacity: 1;
  }
  .section-header {
    --logo_width: {{ section.settings.desktop_logo_width }}px;
    --transparent_color: {{ section.settings.transparent_color }};
    --transparent_opacity: {{ section.settings.overlay_opacity }};
    --image_bg: {{ settings.header_image_bg }};
    --image_overlay_heading: {{ settings.header_image_overlay_heading }};
    --transparent_border_color: {{ section.settings.transparent_border_color.red }}, {{ section.settings.transparent_border_color.green }}, {{ section.settings.transparent_border_color.blue }};
    --transparent_background: {{ section.settings.overlay_background.red }}, {{ section.settings.overlay_background.green }}, {{ section.settings.overlay_background.blue }};
    --image_overlay_background: {{ settings.header_image_overlay_background.red }}, {{ settings.header_image_overlay_background.green }}, {{ settings.header_image_overlay_background.blue }};

  }
  @media (max-width: 767px) {
    .section-header {
      --logo_width: {{ section.settings.mobile_logo_width }}px;
    }
  }
</style>
<script>
  class StickyOnScroll extends HTMLElement {
    constructor() {
      super();
      this.currentScrollTop = 0;
      window.addEventListener('scroll', this.onScroll.bind(this), false);

      const resizeObserver = new ResizeObserver(this.onScroll.bind(this));
      resizeObserver.observe(this);
    }

    onScroll() {
  const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
  const headerHeight = this.getBoundingClientRect().height.toFixed(2);

  const isScrollingDown = scrollTop > this.currentScrollTop;
  const LogoStyle = this.dataset.logo;
  const isDesktop = window.innerWidth >= 1024;

  // Avoid excessive DOM reads/writes in different places
  this.currentScrollTop = scrollTop;

  // Sticky logic
  if (scrollTop > 100) {
    this.classList.add('is-sticky');

    if (isScrollingDown) {
      console.log("isScrollingDown",scrollTop);
      // Hide header
      this.classList.add('is-hidden');
      this.closest('header').classList.add('is-hidden-header');
      document.body.classList.remove('header-sticky');
      document.body.style.setProperty('--dynamic_header_height', `0px`);
    } else {
       console.log("isScrollingup",scrollTop);
      // Show header
      this.classList.remove('is-hidden');
      this.closest('header').classList.remove('is-hidden-header');
      document.body.classList.add('header-sticky');
      document.body.style.setProperty('--dynamic_header_height', `${headerHeight}px`);
    }

    if (isDesktop && LogoStyle === "true" && this.querySelector('.half-width-menu')) {
      this.querySelector('.header--logo')?.classList.add("hidden");
    }
  } else {
    // Reset to default when top
    this.classList.remove('is-sticky', 'is-hidden');
    this.closest('header').classList.remove('is-hidden-header');
    document.body.classList.add('header-sticky');
    document.body.style.setProperty('--dynamic_header_height', `${headerHeight}px`);

    if (isDesktop && LogoStyle === "true" && this.querySelector('.half-width-menu')) {
      this.querySelector('.header--logo')?.classList.remove("hidden");
    }
  }
}

  }

  customElements.define('sticky-on-scroll', StickyOnScroll);

  class StickyAlways extends HTMLElement {
    constructor() {
      super();
      this.currentScrollTop = 0;
      this.halfwidthMenuTransitionWidth(); 
      window.addEventListener('scroll', this.onScroll.bind(this), false);
      this.headerElement();
      this.resizeObserver = new ResizeObserver(this.halfwidthMenuTransitionWidth.bind(this));
      this.resizeObserver.observe(this.querySelector('[data-header-navigation]'));
      
    }
     onScroll(){

        this.headerHeight = this?.getBoundingClientRect().height;
       
        document.body.style.setProperty('--dynamic_header_height', `${this.headerHeight}px`);

       const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
       const LogoStyle = this.dataset.logo;
       if(scrollTop > 100){ 
        if(this.classList.contains('is-sticky')) return;
        this.classList.add('is-sticky');

        if(window.innerWidth >= 1024){
          if (LogoStyle == "true" && this.querySelector('.half-width-menu')) {
              this.querySelector('.header--logo').classList.add("hidden");
            }
        }
      }else{
        this.classList.remove('is-sticky');
        if(window.innerWidth >= 1024){
          if (LogoStyle == "true" && this.querySelector('.half-width-menu')) {
            this.querySelector('.header--logo').classList.remove("hidden");
          }
        }
      }
     
     }

     headerElement(){
      this.headerHeight = this?.getBoundingClientRect().height;
      
      document.body.style.setProperty('--dynamic_header_height', `${this.headerHeight}px`);
     }

     halfwidthMenuTransitionWidth(){
      this.transitionWidth = this.querySelector('[data-header-navigation]').getBoundingClientRect().width - this.querySelector('[data-header-right]').getBoundingClientRect().width
      this.querySelector('[data-header-navigation]').style.setProperty('--half_width_transition', `${this.transitionWidth}px`);

      this.headerElement();
     }
  }
  customElements.define('sticky-always', StickyAlways); 

  class HamburgerMenu extends HTMLElement {
    constructor() {
      super();
      document.body.classList.remove('hamburger-menu-open');
      this.menuItems = this.querySelectorAll('li[data-hamburger-menu]');
      this.header = this.closest('header');
      this.toggler = this.header.querySelector('[data-hamburger-toggler]');
      this.closeBtn = this.querySelector('.cross_button')
      if(this.menuItems[0].hasAttribute('data-hamburger-item')){
        this.menuItems[0].classList.add('active')
      }
      this.menuItems.forEach((menu) => {
        menu.addEventListener('mouseenter', function(){
          if(menu.classList.contains('active')) return;
          const currentActive = this.querySelector('[data-hamburger-menu].active');
          if(currentActive){
            currentActive.classList.remove('active');
          }
          menu.classList.add('active');
          if(menu.hasAttribute('data-hamburger-item')){
          }
        }.bind(this));
      })
      if(this.toggler){
        this.toggler.addEventListener('click',this.toggleHamburger.bind(this))
      }
       if(this.closeBtn){
        this.closeBtn.addEventListener('click',this.closeHamburger.bind(this))
      }
      this.updateHeaderHeight();
      this.resizeObserver = new ResizeObserver(this.updateHeaderHeight.bind(this));
      this.resizeObserver.observe(this);
    }


     toggleHamburger(){
       if(this.toggler.classList.contains('active')){
         this.closeHamburger();
       }
       else{
         this.openHamburger();
       }
     }

     openHamburger(){
        this.toggler.classList.add('active')
        setTimeout(() => {
          this.classList.add('active')
          document.body.classList.add('hamburger-menu-open', 'overflow-hidden')
        }, 150);
        
        this.style.display = 'flex'
        setTimeout(() => {
          this.querySelectorAll('[data-hamburger-menu]').forEach((item, index) => {
              setTimeout(() => {
                  item.classList.add('animate');
              }, index * 100); // 100ms delay for each item
          });
        }, 600);
      

     }
      closeHamburger(){
        this.classList.remove('active')
        setTimeout(() => {
          this.toggler.classList.remove('active')
          this.style.display = 'none'
          document.body.classList.remove('hamburger-menu-open', 'overflow-hidden')
          this.querySelectorAll('[data-hamburger-menu]').forEach((item, index) => {
          item.classList.remove('animate');
        });
        }, 800);
     }

     updateHeaderHeight() {
     
      this.announcementbarHeight = document.querySelector('.announcement-bar--main')?.getBoundingClientRect().height.toFixed(2) || 0;
      this.headerHeight = this.closest('[data-header-section]')?.getBoundingClientRect().height.toFixed(2) || 0;
      document.body.style.setProperty('--announcement_height', `${this.announcementbarHeight}px`);
      document.body.style.setProperty('--header_height', `${this.headerHeight}px`);

      const hasBothClasses = this.closest('[data-header-section]').classList.contains('desktop-transparent') || this.closest('[data-header-section]').classList.contains('mobile-transparent');
      if(hasBothClasses){
        document.body.style.setProperty('--desktop_transparent_header_height', `${this.headerHeight}px`);
        document.body.style.setProperty('--mobile_transparent_header_height', `${this.headerHeight}px`);
      }
    }
     
   }
  customElements.define('hamburger-menu', HamburgerMenu); 

  class HeaderMenu extends HTMLElement {
    constructor() {
      super();
      this.wrapper = this.closest('[data-header-navigation]');
      this.parent = this.closest('.header--menu-item');
      this.innerMenu = this.querySelector('[header-menu-inner]');
      this.headerMenuMegaMenu = this.querySelector('[data-header-menu-megamenu]');
      this.headerElement = this.closest('.shopify-section');
      this.headerTag = this.headerElement?.querySelector('header');
      this.hideTimeout = null;
      this.windowScrollTop = window.scrollY;
      this.currentScrollTop = 0;
      this.parent.addEventListener('keyup', this.onKeyUpEscape.bind(this));
      if (this.dataset.headerNavigation == 'hover') {
        this.addEventListener('mouseenter', this.showContent.bind(this));
        this.addEventListener('mouseleave', this.delayedHideContent.bind(this));        
      } else {   
        // this.querySelectorAll('[data-child]').forEach((item) => item.addEventListener('click', this.submenuInitializer.bind(this, item)));
        this.addEventListener('click', this.toggleContent.bind(this));
      }
      // if(this.dataset.menuType == 'dropdown'){
      this.querySelectorAll('[data-child]').forEach((item) => item.addEventListener('mouseenter', this.submenuInitializer.bind(this, item)));        
      // }
      this.initHeader();
      this.addScrollListener();
      this.dropDownMenuPositions();
      this.offsetForDropDown();
      this.resizeObserver = new ResizeObserver(this.dropDownMenuPositions.bind(this));
      this.resizeObserver.observe(this.closest('[data-header-section]'));
      const resizeObserverDropdown = new ResizeObserver(this.offsetForDropDown.bind(this));
      resizeObserverDropdown.observe(this.closest('[data-header-section]'));
    }

    onKeyUpEscape(){
      if (event.code.toUpperCase() !== 'ESCAPE') return;
      if(event.currentTarget.classList.contains('active')){  
        this.deactivateAllMenus();
      }
    }

    offsetForDropDown() {
      const submenu = this.querySelector('[header-menu-inner]');
      if (submenu && this.classList.contains('header-dropdown')) {
        const container = this.closest('ul[is="menu-slide"]');
        if (!container) {
          //console.info('Parent container not found for header-menu.');
          return;
        }
        const containerRect = container.getBoundingClientRect();
        const menuRect = this.getBoundingClientRect();
        const submenuRect = submenu.getBoundingClientRect();
        const gap = 70;
        let offsetLeft = menuRect.left - containerRect.left;
        // Calculate the right boundary offset within the container
        const maxOffsetLeft = containerRect.width - submenuRect.width - gap;
        // If the submenu goes beyond the right edge of the container
        if (offsetLeft + submenuRect.width > containerRect.width - gap) {
          offsetLeft = maxOffsetLeft;
        }
       
        // Ensure the submenu stays within the left edge of the container
        offsetLeft = Math.max(offsetLeft, gap);
        // Apply the calculated offset to the submenu
        submenu.style.left = `${offsetLeft}px`;
      }
    }
    

    submenuInitializer(item) {
      if(item.querySelector('[data-grand-child-list]')){
        
        if (item.querySelector('[data-grand-child-list]').classList.contains('active')) return;
        Array.from(item.closest('header-menu').querySelectorAll('[data-child]')).map((childlist) => {
          childlist.classList.remove('active');
        });
        Array.from(item.closest('header-menu').querySelectorAll('[data-grand-child-list]')).map((grandchildlist) => {
          grandchildlist.classList.remove('active');
        });
        item.classList.add('active');
        item.querySelector('[data-grand-child-list]').classList.add('active')
      }else{
        Array.from(item.closest('header-menu').querySelectorAll('[data-child]')).map((childlist) => {
          childlist.classList.remove('active');
        });
        Array.from(item.closest('header-menu').querySelectorAll('[data-grand-child-list]')).map((grandchildlist) => {
          grandchildlist.classList.remove('active');
        });
      }
    }

    dropDownMenuPositions() {
      if (window.innerWidth < 992) return false;
      this.querySelector('[header-menu-inner]').classList.remove("menu-position-left");
      const windowSize = window.innerWidth - 200;
      const rect = this.getBoundingClientRect();
      let currentPosition = rect.left + rect.width;

      const grandChildList = this.querySelector("[header-menu-inner]");
      if (grandChildList) {
        currentPosition += grandChildList.getBoundingClientRect().width;
      }

      if (currentPosition >= windowSize) {
        this.querySelector('[header-menu-inner]').classList.add("menu-position-left");
      }
    }
  
    connectedCallback() {
      if (this.headerElement) {
        this.resizeObserver = new ResizeObserver(this.updateHeaderHeight.bind(this));
        this.resizeObserver.observe(this.headerElement);
      }
      document.body.addEventListener('click', this.handleClickOutside.bind(this));
      this.innerMenu?.addEventListener('click', this.stopPropagation);
    }
  
    disconnectedCallback() {
      if (this.headerElement) {
        this.resizeObserver.unobserve(this.headerElement);
      }
      document.removeEventListener('click', this.handleClickOutside.bind(this));
      this.innerMenu?.removeEventListener('click', this.stopPropagation);
    }
  
    initHeader() {
      if (this.headerTag) {
        this.stickyHeader = this.headerTag.classList.contains('d-sticky-true');
        if (this.stickyHeader) {
          this.headerElement.classList.add('sticky-active');
          this.updateHeaderHeight();
        }
      }
    }
  
    addScrollListener() { 
      window.addEventListener('scroll', this.handleScroll.bind(this));
    }
  
    handleScroll() {
    
      if (!this.stickyHeader) return;
      const scrollY = window.scrollY;
      const isScrollingDown = this.windowScrollTop < scrollY;
      this.headerElement.classList.toggle('is-sticky', scrollY > this.headerHeight);
      document.body.style.setProperty('--header_height', this.headerElement.classList.contains('is-hidden') ? '0px' : `${this.headerHeight}px`);
      this.windowScrollTop = scrollY;
    }
  
    updateHeaderHeight() {   
      this.announcementbarHeight = document.querySelector('.announcement-bar--main')?.getBoundingClientRect().height.toFixed(2) || 0;
      this.headerHeight = this.headerElement.querySelector('[data-header-section]')?.getBoundingClientRect().height.toFixed(2) || 0;
      document.body.style.setProperty('--announcement_height', `${this.announcementbarHeight}px`);
      document.body.style.setProperty('--header_height', `${this.headerHeight}px`);

      const hasBothClasses = this.headerElement.querySelector('[data-header-section]').classList.contains('desktop-transparent') || this.headerElement.querySelector('[data-header-section]').classList.contains('mobile-transparent');
      if(hasBothClasses){
        document.body.style.setProperty('--desktop_transparent_header_height', `${this.headerHeight}px`);
        document.body.style.setProperty('--mobile_transparent_header_height', `${this.headerHeight}px`);
      }
    }


    deactivateAllMenus() {
      document.querySelectorAll('header-menu.active').forEach(menu => {
        menu.classList.remove('active');
        // menu.querySelector('[header-menu-inner]')?.classList.add('hidden');
        menu.closest('.header--menu-item')?.classList.remove('active');
        menu.closest('[data-header-navigation]')?.classList.remove('active');
        if(menu.querySelector('[data-header-menu-megamenu]')){
          menu.querySelector('[data-header-menu-megamenu]').style.clipPath = 'polygon(0 0,100% 0,100% 0%,0 0%)'
        }
        // Remove individual menu item states
        Array.from(menu.querySelectorAll('[data-child]'), (item) => {
          item.classList.remove('active');
        });
      });
      // Remove `megamenu-open` only if no active menus remain
      if (!document.querySelector('header-menu.active')) {
        if(document.body.classList.contains('megamenu-open')){
          document.body.classList.remove('megamenu-open');
        }
        
      }
    }

  
    showContent() {
      clearTimeout(this.hideTimeout);
      this.deactivateAllMenus();
      // this.innerMenu?.classList.remove('hidden'); 
      setTimeout(() => {
        if (this.classList.contains('header-megamenu') || this.classList.contains('header-dropdown')) {
          document.body.classList.add('megamenu-open');
        }

        if (this.parent.classList.contains('has-children')) {
          this.wrapper.classList.add('active');
          this.parent.classList.add('active');
          this.headerMenuMegaMenu && (this.headerMenuMegaMenu.style.clipPath = 'polygon(0 0,100% 0,100% 100%,0 100%)')
          this.classList.add('active');
        }
      }, 150);
    }
  

    hideContent() {
      this.classList.remove('active');
      this.wrapper.classList.remove('active');
      this.parent.classList.remove('active');
      this.headerMenuMegaMenu && (this.headerMenuMegaMenu.style.clipPath = 'polygon(0 0,100% 0,100% 0%,0 0%)');

      setTimeout(() => {
        if (!this.classList.contains('active')) {
          // this.innerMenu?.classList.add('hidden');
        }
      }, 150);

      if (this.classList.contains('header-dropdown')) {
        Array.from(this.querySelectorAll('[data-child]'), (item) => {
          item.classList.remove('active');
        });
      }

      // After hiding, check if any menus are still active
      if (!document.querySelector('header-menu.active')) {
        document.body.classList.remove('megamenu-open');
      }
    }

  
    delayedHideContent() {
      this.hideTimeout = setTimeout(this.hideContent.bind(this), 300);
    }
  
    toggleContent(e) {
      e.preventDefault();
      this.classList.contains('active') ? this.hideContent() : this.showContent();
    }
  
    handleClickOutside(event) {
      if (this.contains(event.target)) {
        return;
      }
      else{
        this.deactivateAllMenus();
      }
    }
  
    stopPropagation(event) {
      event.stopPropagation();
    }
  }
  
  customElements.define('header-menu', HeaderMenu);
  
  class QuickShortMenu extends HTMLElement {
    constructor() {
        super();

        this.quickButton = document.querySelector('quick-short-menu');
        this.threshold = 300;
        this.isDesktop = window.innerWidth >= 1024;

        // Bind methods
        this.handleScroll = this.handleScroll.bind(this);
        this.updateParameters = this.updateParameters.bind(this);
       

        // Initialize
        this.handleScroll();
        window.addEventListener('scroll', this.handleScroll);
        window.addEventListener("resize", this.updateParameters);

        this.button = this.querySelector(".short-menu--button");
        this.icon = this.button.querySelector(".short-menu--button-icon");
        this.menuWrapper = this.querySelector('[data-menu]');
        this.menuLinks = this.querySelectorAll('[data-quick-menu-link]');

        this.updateParameters();
        this.setupEventListeners();
    }

    handleScroll() {
        if (window.scrollY > this.threshold) {
            this.fadeOut();
        } else {
            this.fadeIn();
        }
    }

    fadeOut() {
        if (!this.classList.contains('fade-in')) {
            this.classList.add('fade-in');
            this.classList.remove('fade-out');
            this.toggleLogoVisibility(false); // Hide logo
        }
    }

    fadeIn() {
        if (!this.classList.contains('fade-out')) {
            this.classList.add('fade-out');
            this.classList.remove('fade-in');
            this.toggleLogoVisibility(true); // Show logo
        }
    }

    toggleLogoVisibility(visible) {
        const logo = document.querySelector('.header--logo'); // Change selector as needed
        if (this.isDesktop) {
            logo.classList.toggle('hidden', !visible);
        }
    }

    setupEventListeners() {
    this.button.addEventListener('click', () => {
        this.menuWrapper.classList.add('active');
        setTimeout(() => {
            this.menuWrapper.style.setProperty("pointer-events", `auto`);
        }, 350);
    });

    // Event listener for body click
    document.body.addEventListener('click', (event) => {
        const isClickInside = this.menuWrapper.contains(event.target) || this.button.contains(event.target);
        if (this.menuWrapper.classList.contains('active') && !isClickInside) {
            this.menuWrapper.classList.remove('active');
            this.menuWrapper.style.setProperty("opacity", `1`);
            setTimeout(() => {
                this.menuWrapper.style.removeProperty("opacity");
            }, 150);
            this.style.setProperty("--background-translate", `0`);
            this.menuWrapper.style.removeProperty("pointer-events");
            this.menuLinks.forEach(link => link.classList.remove('active'));
            this.querySelector('[data-index="0"]').classList.add('active');
        }
    });

    this.menuWrapper.addEventListener('mouseleave', () => {
        this.menuWrapper.classList.remove('active');
        this.menuWrapper.style.setProperty("opacity", `1`);
        setTimeout(() => {
            this.menuWrapper.style.removeProperty("opacity");
        }, 150);
        this.style.setProperty("--background-translate", `0`);
        this.menuWrapper.style.removeProperty("pointer-events");
        this.menuLinks.forEach(link => link.classList.remove('active'));
        this.querySelector('[data-index="0"]').classList.add('active');
    });

    this.menuLinks.forEach(link => {
        link.addEventListener('mouseenter', () => {
            let index = parseInt(link.dataset.index, 10);
            let translateY = Array.from(this.menuLinks)
                .slice(0, index)
                .reduce((total, sibling) => total + sibling.getBoundingClientRect().height, 0);

            this.style.setProperty("--background-translate", `${index}`);
            this.style.setProperty("--short-item-height", `${link.getBoundingClientRect().height}px`);
            link.classList.add('active');

            this.menuLinks.forEach(sibling => {
                if (sibling !== link) {
                    sibling.classList.remove('active');
                }
            });
        });
    });
}
    updateParameters() {
        this.styleValues = getComputedStyle(this.button);
        this.childElementsGap = parseFloat(this.styleValues.gap) || 0;
        this.iconWidth = this.icon.clientWidth;

        const menuLinks = this.querySelectorAll('.short-menu--menu-link');
        let maxTextWidth = Math.max(...Array.from(menuLinks).map(link => link.textContent.length));

        this.buttonWidth = maxTextWidth > 25 ? 895 : maxTextWidth > 12 ? 655 : 395;

        if (this.isDesktop) {
            this.style.setProperty("--menu-max-width", `${this.buttonWidth}px`);
            //this.style.setProperty("--menu-width", `${this.buttonWidth}px`);
        } else {
            this.style.setProperty("--menu-max-width", `195px`);
            //this.style.setProperty("--menu-width", `195px`);
        }
        this.style.setProperty("--motion-translate", `170px`);

        this.height = 'auto';
        this.menuList = this.querySelector('.short-menu--menu-list');
        if (this.menuList) {
            let menuItemHeight = this.menuLinks[0].clientHeight;
            let menuWrapperStyles = getComputedStyle(this.menuList);
            this.height = `${(this.menuLinks.length * menuItemHeight) + 3 + parseInt(menuWrapperStyles.paddingBottom) + parseInt(menuWrapperStyles.paddingTop)}px`;
        }

        // Update --translate-height based on device or viewport size
        this.style.setProperty("--translate-height", '415px');
    }

    getTextWidth(text, font) {
        const canvas = document.createElement("canvas");
        const context = canvas.getContext("2d");
        context.font = font;
        return context.measureText(text).width;
    }
}

customElements.define('quick-short-menu', QuickShortMenu);


  function isSafari() {
  return /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
}


  if (isSafari()) {
   
   function setupMenuSlide() {
    
    if (window.innerWidth <= 768) {
        return; // Exit the function if not on desktop
    }

      const container = document.querySelector('[data-menus-container]');
      const leftArrow = document.querySelector('[data-arrow-left]');
      const rightArrow = document.querySelector('[data-arrow-right]');
      const menuContent = document.querySelector('[is="menu-slide"]');
      const scrollStep = 40; 

      function scrollLeft() { 
   
        menuContent?.scrollBy({ left: -scrollStep, behavior: 'smooth' });
        updateArrowsImmediate(-scrollStep);
      }

      function scrollRight() {

        menuContent?.scrollBy({ left: scrollStep, behavior: 'smooth' });
        updateArrowsImmediate(scrollStep);
      }

      function updateArrows() {
        
        const maxScrollLeft = menuContent?.scrollWidth - menuContent?.clientWidth;
        if (menuContent?.scrollLeft === 0) {
          leftArrow.style.display = 'none';
        } else {
          leftArrow.style.display = 'flex';
        }

        if (menuContent.scrollLeft >= maxScrollLeft) {
          rightArrow.style.display = 'none';
        } else {
          rightArrow.style.display = 'flex';
        }
      }

      function updateArrowsImmediate(scrollChange) {
        const maxScrollLeft = menuContent.scrollWidth - menuContent.clientWidth;
        const newScrollLeft = Math.max(0, Math.min(menuContent.scrollLeft + scrollChange, maxScrollLeft));

        if (newScrollLeft === 0) {
          leftArrow.style.display = 'none';
        } else {
          leftArrow.style.display = 'flex';
        }

        if (newScrollLeft >= maxScrollLeft) {
          rightArrow.style.display = 'none';
        } else {
          rightArrow.style.display = 'flex';
        }
      }

      function callOffsetForDropDown() {
 
        const headerMenus = menuContent.querySelectorAll('li header-menu');
        headerMenus.forEach(headerMenu => {
          if (headerMenu.offsetForDropDown) {
            headerMenu.offsetForDropDown();
          }
        });
      }

      updateArrows();
      callOffsetForDropDown();

      leftArrow.addEventListener('click', scrollLeft);
      rightArrow.addEventListener('click', scrollRight);
      window.addEventListener('resize', updateArrows);
    }

    // Call the setup function once the DOM is fully loaded
    document.addEventListener('DOMContentLoaded', setupMenuSlide);
}else{

    class MenuSlide extends HTMLUListElement {
      constructor() {
        super();
        this.scrollStep = 40; // Set the scroll step to 50 pixels
        this.container = null;
        this.leftArrow = null;
        this.rightArrow = null;
      }

      connectedCallback() {
        this.headerMenu = document.querySelector('header-menu');
        this.container = this.closest('[data-menus-container]');
        this.leftArrow = this.container.querySelector('[data-arrow-left]');
        this.rightArrow = this.container.querySelector('[data-arrow-right]');

        this.leftArrow.addEventListener('click', this.scrollLeftFun.bind(this));
        this.rightArrow.addEventListener('click', this.scrollRightFun.bind(this));

        window.addEventListener('resize', this.updateArrows.bind(this));
        this.updateArrows();
        this.callOffsetForDropDown();
      }

      scrollLeftFun() {
        
        this.scrollBy({ left: -this.scrollStep, behavior: 'smooth' });
        // this.updateArrows();
        this.updateArrowsImmediate(-this.scrollStep);
        this.callOffsetForDropDown();
      }

      scrollRightFun() {
        const maxScrollLeft = this.scrollWidth - this.clientWidth;
        this.scrollBy({ left: this.scrollStep, behavior: 'smooth' });
        // this.updateArrows();
        this.updateArrowsImmediate(this.scrollStep);
        this.callOffsetForDropDown();
      }

      updateArrows() {
        const maxScrollLeft = this.scrollWidth - this.clientWidth;
        if (this.scrollLeft === 0) {
          this.leftArrow.style.display = 'none';
        } else {
          this.leftArrow.style.display = 'flex';
        }

        if (this.scrollLeft >= maxScrollLeft) {
          this.rightArrow.style.display = 'none';
        } else {
          this.rightArrow.style.display = 'flex';
        }
      }

      updateArrowsImmediate(scrollChange) {
      const maxScrollLeft = this.scrollWidth - this.clientWidth;
      const newScrollLeft = Math.max(0, Math.min(this.scrollLeft + scrollChange, maxScrollLeft));

      if (newScrollLeft === 0) {
        this.leftArrow.style.display = 'none';
      } else {
        this.leftArrow.style.display = 'flex';
      }

      if (newScrollLeft >= maxScrollLeft) {
        this.rightArrow.style.display = 'none';
      } else {
        this.rightArrow.style.display = 'flex';
      }
    }

    callOffsetForDropDown() {
      // Find all `header-menu` elements within `li` tags
      const headerMenus = this.querySelectorAll('li header-menu');
      headerMenus.forEach(headerMenu => {
        if (headerMenu.offsetForDropDown) {
          headerMenu.offsetForDropDown();
        }
      });
    }
  }

  customElements.define('menu-slide', MenuSlide, { extends: 'ul' });
}

  class MobileMenu extends HTMLElement {
    constructor() {
        super();
        
        this.header = this.closest('header');
        this.preventToggle = false; // Flag to prevent re-triggering
        
        this.header.querySelector('[data-mobile-toggler]').addEventListener('click', this.toggleMobileMenu.bind(this));

        Array.from(this.querySelectorAll('[data-menu-item]'), (element) => {
            element.addEventListener('click', (event) => {
                if (!this.preventToggle) {
                    this.openMenus(element);
                }
            });
        });

        Array.from(this.querySelectorAll('[data-back-to-menu]'), (item) => {
            item.addEventListener('click', (event) => {
                this.backToMenu(item);
                this.preventToggle = true; // Set the flag to prevent re-triggering
                setTimeout(() => {
                    this.preventToggle = false; // Reset the flag after a short delay
                }, 100); // Adjust the delay as needed
            });
        });
    }

    openMenus(element) {
        element.classList.add('active');
    }

    backToMenu(item) {
        const parentMenuItem = item.closest('[data-menu-item]');
        if (parentMenuItem) {
            parentMenuItem.classList.remove('active');
        } else {
            console.info('Parent menu item not found.');
        }
    }

    toggleMobileMenu() {
        if (document.querySelector(`[data-drawer="mobile-menu-drawer"]`)) {
            setTimeout(() => {
                document.querySelector(`[data-drawer="mobile-menu-drawer"]`).classList.add('show');
                document.body.classList.add('overflow-hidden');
            }, 400);
            document.querySelector(`[data-drawer="mobile-menu-drawer"]`).style.display = 'flex';
        }

        setTimeout(() => {
            this.header.querySelectorAll('[data-mobile-item]').forEach((item, index) => {
              setTimeout(() => {
                  item.classList.add('animate');
              }, index * 100); // 100ms delay for each item
          });
        }, 600);
    }
  } 

  customElements.define('mobile-menu', MobileMenu);
</script>
{% unless settings.seo_microdata %} 
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": {{ shop.name | json }},
      {% if section.settings.logo %}
        "logo": {{ section.settings.logo | image_url: width: 500 | prepend: "https:" | json }},
      {% endif %}
      "sameAs": [
        {{ settings.social_twitter_link | json }},
        {{ settings.social_facebook_link | json }},
        {{ settings.social_pinterest_link | json }},
        {{ settings.social_instagram_link | json }},
        {{ settings.social_tiktok_link | json }},
        {{ settings.social_tumblr_link | json }},
        {{ settings.social_snapchat_link | json }},
        {{ settings.social_youtube_link | json }},
        {{ settings.social_vimeo_link | json }}
      ],
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>

  {%- if request.page_type == 'index' -%}
    {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": {{ shop.name | json }},
        "potentialAction": {
          "@type": "SearchAction",
          "target": {{ potential_action_target | json }},
          "query-input": "required name=search_term_string"
        },
        "url": {{ request.origin | append: page.url | json }}
      }
    </script>
  {%- endif -%}
{% endunless %}

{% schema %}
  {
    "name": "t:sections.header.name",
    "class": "section-header",
    "tag": "header",
    "settings": [
      {
        "type": "select",
        "id": "header_style",
        "label": "t:sections.header.settings.header_style.label",
        "default": "logo-left-menu-center",
        "options": [
          {
            "label": "t:sections.header.settings.header_style.logo-left-menu-center.label",
            "value": "logo-left-menu-center"
          },
          {
            "label": "t:sections.header.settings.header_style.logo-left-menu-right.label",
            "value": "logo-left-menu-right"
          },
          {
            "label": "t:sections.header.settings.header_style.logo-left-menu-left.label",
            "value": "logo-left-menu-left"
          },
          {
            "label": "t:sections.header.settings.header_style.logo-center-menu-left.label",
            "value": "logo-center-menu-left"
          },
          {
            "label": "t:sections.header.settings.header_style.half-width-menu.label",
            "value": "half-width-menu"
          },
          {
            "label": "t:sections.header.settings.header_style.hamburger-menu-logo-left.label",
            "value": "hamburger-menu-logo-left"
          },
          {
            "label": "t:sections.header.settings.header_style.hamburger-menu-logo-center.label",
            "value": "hamburger-menu-logo-center"
          }
        ]
      },
      {
        "type": "select",
        "id": "header_height",
        "default": "large",
        "label": "Height",
        "options": [
          {
            "value": "small",
            "label": "t:sections.header.settings.main_menu_font_size.small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.header.settings.main_menu_font_size.medium.label"
          },
          {
            "value": "large",
            "label": "t:sections.header.settings.main_menu_font_size.large.label"
          }
        ]
      },
      {
        "type": "select",
        "id": "sticky_header_type",
        "label": "t:sections.header.settings.sticky_header_type.label",
        "default": "sticky-scroll-up",
        "options": [
          {
            "label": "t:sections.header.settings.sticky_header_type.sticky-none.label",
            "value": "sticky-none"
          },
          {
            "label": "t:sections.header.settings.sticky_header_type.sticky-scroll-up.label",
            "value": "sticky-scroll-up"
          },
          {
            "label": "t:sections.header.settings.sticky_header_type.sticky-always.label",
            "value": "sticky-always"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "seaperate_line",
        "default": false,
        "label": "t:sections.all.enable_border.label"
      },
      {
        "type": "checkbox",
        "id": "header_shadow",
        "default": false,
        "label": "t:sections.all.enable_shadow.label"
      },
      {
        "type": "checkbox",
        "id":"hide_logo",
        "default": false,
        "label": "t:sections.all.enable_logo.label",
        "info":"t:sections.all.enable_logo.info"
      },
      {
        "type": "header",
        "content": "t:sections.all.headers.transparent_header"
      },
      {
        "type": "checkbox",
        "id": "transparent_home_page",
        "label": "t:sections.header.settings.transparent_home_page.label"
      },
      {
        "type": "textarea",
        "id": "transparent_other_page",
        "label": "t:sections.header.settings.transparent_other_page.label",
        "placeholder": "article, blog, cart, collection, list-collections, product, page, search etc.",
        "info": "t:sections.header.settings.transparent_other_page.info"
      },
      {
        "type": "select",
        "id": "transparent_header",
        "label": "t:sections.header.settings.transparent_header.label",
        "default": "both-transparent",
        "options": [
          {
            "label": "t:sections.header.settings.transparent_header.desktop-transparent.label",
            "value": "desktop-transparent"
          },
          {
            "label": "t:sections.header.settings.transparent_header.mobile-transparent.label",
            "value": "mobile-transparent"
          },
          {
            "label": "t:sections.header.settings.transparent_header.both-transparent.label",
            "value": "both-transparent"
          }
        ]
      },

      {
        "type": "paragraph",
        "content": "t:sections.all.headers.colors"
      },
      {
        "type": "color",
        "id": "transparent_color",
        "label": "t:sections.header.settings.transparent_color.label",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "transparent_border_color",
        "label": "t:settings_schema.global.settings.header__border.content",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "overlay_background",
        "label": "t:settings_schema.color.settings.color_schemes.overlay_background.label",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "default": 0,
        "label": "t:settings_schema.global.settings.overlay_opacity.label",
        "min": 0,
        "max": 1,
        "step": 0.1
      },
      {
        "type": "checkbox",
        "id": "is_transparent_blur",
        "label": "t:sections.header.settings.is_transparent_blur.label",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.all.headers.logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.all.headers.logo"
      },
      {
        "type": "image_picker",
        "id": "alternate_logo",
        "label": "t:sections.header.settings.alternate_logo.label"
      },
      {
        "type": "range",
        "id": "desktop_logo_width",
        "min": 50,
        "max": 250,
        "step": 10,
        "default": 100,
        "unit": "px",
        "label": "t:sections.all.desktop_logo_width.label"
      },
      {
        "type": "range",
        "id": "mobile_logo_width",
        "min": 40,
        "max": 120,
        "step": 10,
        "default": 80,
        "unit": "px",
        "label": "t:sections.all.mobile_logo_width.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.headers.navigation"
      },
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "t:sections.all.menu.label"
      },
      {
        "type": "select",
        "id": "menu_type",
        "default": "dropdown",
        "label": "t:sections.header.settings.menu_type.label",
        "options": [
          {
            "value": "dropdown",
            "label": "t:sections.header.settings.menu_type.dropdown.label"
          },
          {
            "value": "mega_menu",
            "label": "t:sections.header.settings.menu_type.mega_menu.label"
          }
        ]
      },
      {
        "type": "select",
        "id": "menu_navigations",
        "label": "t:sections.header.settings.menu_navigations.label",
        "default": "click",
        "options": [
          {
            "value": "click",
            "label": "t:sections.header.settings.menu_navigations.click.label"
          },
          {
            "value": "hover",
            "label": "t:sections.header.settings.menu_navigations.hover.label"
          }
        ]
      },
      {
        "type": "select",
        "id": "font_type",
        "label": "t:sections.header.settings.font_type.label",
        "default": "heading-font",
        "options": [
          {
            "label": "t:sections.all.markers_font.accent-font.label",
            "value": "accent-font"
          },
          {
            "label": "t:sections.all.markers_font.body-font.label",
            "value": "body-font"
          },
          {
            "label": "t:sections.all.markers_font.heading-font.label",
            "value": "heading-font"
          }
        ]
      },
      {
        "type": "select",
        "id": "menu_font_style",
        "label": "t:sections.header.settings.menu_font_style.label",
        "default": "normal",
        "options": [
          {
            "label": "t:sections.header.settings.menu_font_style.normal.label",
            "value": "normal"
          },
          {
            "label": "t:sections.header.settings.menu_font_style.bold.label",
            "value": "bold"
          }
        ]
      },
      {
        "type": "select",
        "id": "main_menu_font_size",
        "default": "regular",
        "label": "t:sections.header.settings.main_menu_font_size.label",
        "options": [
          {
            "value": "small",
            "label": "t:sections.header.settings.main_menu_font_size.small.label"
          },
          {
            "value": "regular",
            "label": "t:sections.header.settings.main_menu_font_size.regular.label"
          },
          {
            "value": "medium",
            "label": "t:sections.header.settings.main_menu_font_size.medium.label"
          },
          {
            "value": "large",
            "label": "t:sections.header.settings.main_menu_font_size.large.label"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.all.headers.header_submenu"
      },
      {
        "type": "select",
        "id": "submenu_font_type",
        "label": "t:sections.header.settings.submenu_font_type.label",
        "default": "heading-font",
        "options": [
          {
            "label": "t:sections.all.markers_font.accent-font.label",
            "value": "accent-font"
          },
          {
            "label": "t:sections.all.markers_font.body-font.label",
            "value": "body-font"
          },
          {
            "label": "t:sections.all.markers_font.heading-font.label",
            "value": "heading-font"
          }
        ]
      },
      {
        "type": "select",
        "id": "submenu_font_style",
        "label": "t:sections.header.settings.submenu_font_style.label",
        "default": "normal",
        "options": [
          {
            "label": "t:sections.header.settings.submenu_font_style.normal.label",
            "value": "normal"
          },
          {
            "label": "t:sections.header.settings.submenu_font_style.bold.label",
            "value": "bold"
          }
        ]
      },
      {
        "type": "select",
        "id": "sub_menu_font_size",
        "default": "regular",
        "label": "t:sections.all.headers.font_size",
        "options": [
          {
            "value": "small",
            "label": "t:sections.header.settings.main_menu_font_size.small.label"
          },
          {
            "value": "regular",
            "label": "t:sections.header.settings.main_menu_font_size.regular.label"
          },
          {
            "value": "medium",
            "label": "t:sections.header.settings.main_menu_font_size.medium.label"
          },
          {
            "value": "large",
            "label": "t:sections.header.settings.main_menu_font_size.large.label"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.all.headers.icons"
      },
      {
        "type": "checkbox",
        "id": "show_search",
        "default": true,
        "label": "t:sections.all.show_search.label"
      },
      {
        "type": "checkbox",
        "id": "show_account_icon",
        "default": true,
        "label": "t:sections.all.show_account_icon.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.headers.quick_access_button"
      },
      {
        "type": "paragraph",
        "content": "t:sections.header.settings.paragraph.content"
      },
      {
        "type": "paragraph",
        "content": "t:sections.header.settings.paragraph_note.content"
      },
      {
        "type": "checkbox",
        "id": "is_quick_menu",
        "default": false,
        "label": "t:sections.header.settings.is_quick_menu.label"
      },
      {
        "type": "text",
        "id": "quick_menu_heading",
        "label": "t:sections.header.settings.quick_menu_heading.label",
        "default": "Menu"
      },
      {
        "type": "link_list",
        "id": "quick_menu",
        "label": "t:sections.all.menu.label"
      },
      {
        "type": "checkbox",
        "id": "quick_menu_home_page",
        "label": "t:sections.header.settings.transparent_home_page.label",
        "default": true
      },
      {
        "type": "textarea",
        "id": "quick_menu_other_page",
        "label": "t:sections.header.settings.transparent_other_page.label",
        "placeholder": "article, blog, cart, collection, list-collections, product, page, search etc.",
        "info": "t:sections.header.settings.transparent_other_page.info"
      },
      {
        "type": "header",
        "content": "t:sections.header.settings.hamburger_top_bar.content"
      },
      {
        "type": "text",
        "id": "hamburger_menu_btn_text",
        "label": "t:sections.header.settings.hamburger_menu_btn_text.label"
      },
      {
        "type": "url",
        "id": "hamburger_menu_btn_link",
        "label": "t:sections.header.settings.hamburger_menu_btn_link.label"
      },
      {
        "type": "checkbox",
        "id": "hamburger_menu_social_media",
        "label": "t:sections.header.settings.hamburger_menu_social_media.label",
        "default": true
      },
      {
        "type": "header",
        "content": "t:sections.header.settings.hamburger_middle_card.content"
      },
      {
        "type": "image_picker",
        "id": "hamburger_menu_card_image",
        "label": "t:settings_schema.global.settings.image.label"
      },
      {
        "type": "text",
        "id": "hamburger_menu_card_heading",
        "label": "t:settings_schema.global.settings.heading.label"
      },
      {
        "type": "text",
        "id": "hamburger_menu_card_desc",
        "label": "t:settings_schema.global.settings.description.label"
      },
      {
        "type": "header",
        "content": "t:sections.header.settings.hamburger_bottom_bar.content"
      },
      {
        "type": "link_list",
        "id": "hamburger_menu_bottom_menu",
        "label": "t:sections.all.menu.label"
      },
      {
        "type": "textarea",
        "id": "hamburger_menu_bottom_text",
        "label": "t:settings_schema.global.settings.text.label"
      },
      {
        "type": "text",
        "id": "hamburger_menu_marquee_text",
        "label": "t:sections.all.marquee_text.label",
        "info": "t:settings_schema.global.settings.heading.info"
      },
      {
        "type": "range",
        "id": "hamburger_menu_marquee_speed",
        "label": "t:sections.all.marquee_speed.label",
        "default": 35,
        "min": 1,
        "max": 60,
        "step": 1,
        "unit": "s"
      },
      {
        "type": "select",
        "id": "markers_font",
        "label": "t:sections.all.markers_font.label",
        "info": "t:sections.all.markers_font.info",
        "default": "accent-font",
        "options": [
          {
            "label": "t:sections.all.markers_font.accent-font.label",
            "value": "accent-font"
          },
          {
            "label": "t:sections.all.markers_font.body-font.label",
            "value": "body-font"
          },
          {
            "label": "t:sections.all.markers_font.heading-font.label",
            "value": "heading-font"
          }
        ]
      },
      {
        "type": "select",
        "id": "markers_text",
        "label": "t:sections.all.markers_text.label",
        "default": "no-markers",
        "options": [
          {
            "label": "t:sections.all.markers_text.no-markers.label",
            "value": "no-markers"
          },
          {
            "label": "t:sections.all.markers_text.highlight-color.label",
            "value": "highlight-color"
          },
          {
            "label": "t:sections.all.markers_text.outline--text.label",
            "value": "outline--text"
          },
          {
            "label": "t:sections.all.markers_text.text-background-cover.label",
            "value": "text-background-cover"
          }
        ]
      },
      {
        "type": "color_scheme",
        "id": "hamburger_color_scheme",
        "default": "primary",
        "label": "t:sections.header.settings.hamburger_color_scheme.label"
      }
    ],
    "blocks": [
      {
        "type": "style-1",
        "name": "t:sections.header.blocks.style-1.name",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.all.menu_label.label",
            "info": "t:sections.all.menu_label.info"
          },
          {
            "type": "range",
            "id": "horizontal_overlay_opacity",
            "label": "t:sections.header.blocks.style-1.settings.horizontal_overlay_opacity.label",
            "default": 0.3,
            "min": 0,
            "max": 1,
            "step": 0.1
          },
          {
            "type": "header",
            "content": "t:sections.all.headers.content_1"
          },
          {
            "type": "image_picker",
            "label": "t:settings_schema.global.settings.image.label",
            "id": "content_image_1"
          },
          {
            "type": "text",
            "label": "t:settings_schema.global.settings.heading.label",
            "id": "content_title_1"
          },
          {
            "type": "url",
            "label": "t:settings_schema.global.settings.link.label",
            "id": "content_link_1"
          },
          {
            "type": "header",
            "content": "t:sections.all.headers.content_2"
          },
          {
            "type": "image_picker",
            "label": "t:settings_schema.global.settings.image.label",
            "id": "content_image_2"
          },
          {
            "type": "text",
            "label": "t:settings_schema.global.settings.heading.label",
            "id": "content_title_2"
          },
          {
            "type": "url",
            "label": "t:settings_schema.global.settings.link.label",
            "id": "content_link_2"
          },
          {
            "type": "header",
            "content": "t:sections.all.headers.content_3"
          },
          {
            "type": "image_picker",
            "label": "t:settings_schema.global.settings.image.label",
            "id": "content_image_3"
          },
          {
            "type": "text",
            "label": "t:settings_schema.global.settings.heading.label",
            "id": "content_title_3"
          },
          {
            "type": "url",
            "label": "t:settings_schema.global.settings.link.label",
            "id": "content_link_3"
          },
          {
            "type": "header",
            "content": "t:sections.all.headers.content_4"
          },
          {
            "type": "image_picker",
            "label": "t:settings_schema.global.settings.image.label",
            "id": "content_image_4"
          },
          {
            "type": "text",
            "label": "t:settings_schema.global.settings.heading.label",
            "id": "content_title_4"
          },
          {
            "type": "url",
            "label": "t:settings_schema.global.settings.link.label",
            "id": "content_link_4"
          }
        ]
      },
      {
        "type": "style-2",
        "name": "t:sections.header.blocks.style-2.name",
        "settings": [
          {
            "type": "paragraph",
            "content": "t:sections.header.blocks.style-2.settings.paragraph.content"
          },
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.all.menu_label.label",
            "info": "t:sections.all.horizontal_menu_label.info"
          },
          {
            "type": "range",
            "id": "vertical_overlay_opacity",
            "label": "t:sections.header.blocks.style-2.settings.vertical_overlay_opacity.label",
            "default": 0.3,
            "min": 0,
            "max": 1,
            "step": 0.1
          },
          {
            "type": "header",
            "content": "t:sections.all.headers.content_1"
          },
          {
            "type": "image_picker",
            "label": "t:settings_schema.global.settings.image.label",
            "id": "content_img_1"
          },
          {
            "type": "text",
            "label": "t:settings_schema.global.settings.heading.label",
            "id": "content_heading_1"
          },
          {
            "type": "url",
            "label": "t:settings_schema.global.settings.link.label",
            "id": "content_url_1"
          },
          {
            "type": "header",
            "content": "t:sections.all.headers.content_2"
          },
          {
            "type": "image_picker",
            "label": "t:settings_schema.global.settings.image.label",
            "id": "content_img_2"
          },
          {
            "type": "text",
            "label": "t:settings_schema.global.settings.heading.label",
            "id": "content_heading_2"
          },
          {
            "type": "url",
            "label": "t:settings_schema.global.settings.link.label",
            "id": "content_url_2"
          },
          {
            "type": "header",
            "content": "t:sections.all.headers.content_3"
          },
          {
            "type": "image_picker",
            "label": "t:settings_schema.global.settings.image.label",
            "id": "content_img_3"
          },
          {
            "type": "text",
            "label": "t:settings_schema.global.settings.heading.label",
            "id": "content_heading_3"
          },
          {
            "type": "url",
            "label": "t:settings_schema.global.settings.link.label",
            "id": "content_url_3"
          }
        ]
      },
      {
        "type": "style-3",
        "name": "t:sections.header.blocks.style-3.name",
        "settings": [
          {
            "type": "paragraph",
            "content": "t:sections.header.blocks.style-3.settings.paragraph.content"
          },
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.all.menu_label.label",
            "info": "t:sections.all.collection_menu_label.info"
          },
          {
            "type": "collection_list",
            "id": "collection_list",
            "label": "t:sections.header.blocks.style-3.settings.collection_list.label",
            "limit": 7
          }
        ]
      }
    ]
  }
{% endschema %}